@font-face {
    font-family: 'SharpTitulo';
    src        : url('../SharpGrotesk-Book25.otf') format('opentype');
}


*,
*:before,
*:after {
    transition: 0.5s;
}

body {
    background-color: #000000;
    margin          : 0;
    padding         : 0;
    width           : 100vw;
    height          : 100vh;
    overflow        : hidden;
}


.Logos {
    width     : 8vw;
    margin    : 0.5vw;
    transition: transform 0.3s ease;
}

#marcas :hover {
    transform: scale(1.2);
}

.Empresa {
    margin-left: 3vw;
    width      : 14vw;
}

#NavSuperior {
    width           : 100vw;
    height          : 10vh;
    display         : inline-flex;
    background-color: #000000;
    z-index         : 1;
}

main {
    height          : 85vh;
    width           : 100vw;
    background-color: #b7b7b7;
}

footer {
    position        : fixed;
    bottom          : 0vh;
    height          : 5vh;
    width           : 100vw;
    background-color: #000000;
    color           : #ffffff;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    font-family     : SharpTitulo;
}

#menuLateral {
    position        : fixed;
    z-index         : 40;
    width           : 7vh;
    height          : 25vh;
    background-color: #000000;
    right           : 0vw;
    top             : 20vh;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : space-around;
}

#menuLateral img {
    width : 1.5vw;
}

#redes {
    margin-left       : 1vw;
    width             : 30vw;
    height            : 5vh;
    display           : flex;
    /*background-color: red;*/
    align-items       : center;
    transition: transform 2s ease;

}

#redes a:hover{
    transform: scale(1.2);
}

.transparent {
    opacity: 0;
}

#info {
    width             : 70vw;
    display           : flex;
    height            : 5vh;
    align-items       : center;
    /*background-color: aqua;*/
    justify-content   : right;
}

.iconoFooter {
    margin-right: 0.5vw;
    height      : 3vh;
}

#info p {
    margin-right: 2vw;
    font-size   : 0.8vw;
}

#marcas {
    width: 60vw;
}

#desplegables {
    width  : 40vw;
    right  : 0vw;
    z-index: 40;
    display: inline-flex;
    height: 10vh;
}

#desplegables2 {
    width   : 40vw;
    height  : 10vh;
    position: relative;
    top: 4vh;
}


ul li {
    float       : left;
    list-style  : none;
    margin-right: 1vw;
    z-index     : 1;
    position    : relative;
}

/*z-index 1 para que al desplegarse la lista quede por delante de las imágenes*/
ul li a {
    font-size      : 1vw;
    text-transform : uppercase;
    position       : relative;
    color          : #ffffff;
    text-decoration: none;
    font-size      : 1vw;
    letter-spacing : 0.1vw;
    padding        : 0.3vw 1vw 0.3vw 1vw;
    display        : block;
    width          : 8vw;
    z-index        : 5000;
    font-family    : SharpTitulo;
}

ul li a i {
    font-size: 12px;
    position : absolute;
    right    : 1vw;
    top      : 2vh;
}

ul li .drop-down {
    position: absolute;
    padding : 0;
    display : none;
    margin  : 0;
    left    : 0;
    z-index : 0;
}

ul li .drop-down li {
    position: relative;
    float   : none;
}

ul li .drop-down li a {
    border-top: none;
    width     : 10vw;
}

ul li .drop-down li a:hover {
    background: #ffffff;
    color     : #0D0D0D;
}

ul li .drop-down li:nth-of-type(1) a {
    border-top: none;
}

.accent {
    top       : 0;
    left      : 0;
    width     : 0%;
    height    : 4vh;
    background: #ffffff;
    position  : absolute;
    transition: 0.3s ease;
}

.animate {
    width     : 10vw;
    transition: 0.3s ease;
}

.item:hover {
    color: #ffffff;
}

/* Estilo básico para la galería */
figure {
    margin: 0;
}

figure video {
    width: 100vw;
}

#gallery {
    height          : 84vh;
    width           : 100vw;
    background-color: #0D0D0D;
    margin          : auto;
    overflow        : hidden;
    position        : absolute;

}

.gallery-container {
    display   : flex;
    transition: transform 0.5s ease-in-out;
}

.gallery-item {
    min-width : 100vw;
    box-sizing: border-box;

}

.gallery-item img {
    width  : 100vw;
    display: block;
    z-index: -2;
}

.gallery-navigation {
    display        : flex;
    justify-content: space-between;
    width          : calc(100% - 2vw);
    margin         : 0 1vw;
    position       : absolute;
    top            : 50%;
    /* Centra verticalmente */
    transform      : translateY(-50%);
}

.nav-button {
    background-color: rgba(255, 255, 255, 0);
    color           : white;
    border          : none;
    cursor          : pointer;
    border-radius   : 1vw;
}

.nav-button>span {
    font-size: 2vw;
}