<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motographix - Concesionario Oficial</title>
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <nav id="NavSuperior">
        <section id="marcas">
            <a onclick="opa('index')"><img class="Logos Empresa" src="../Material_gráfico/Logos/Logo.png" alt="logo_Empresa"></a>
            <a onclick="opa('aprilia')"><img class="Logos " src="../Material_gráfico/Logos/Aprilia.png" alt="logo_Aprilia"></a>
            <a onclick="opa('ducati')"><img class="Logos " src="../Material_gráfico/Logos/Ducati.png" alt="logo_Ducati"></a>
            <a onclick="opa('motoguzzi')"><img class="Logos " src="../Material_gráfico/Logos/Motoguzzi.png" alt="logo_Motoguzzi"></a>
            <a onclick="opa('mvagusta')"><img class="Logos " src="../Material_gráfico/Logos/MvAgusta.png" alt="logo_Mvagusta">
            </a>
        </section>

        <section id="desplegables">
            <ul id="desplegables2">
                <li><a class="item">GAMA<i class="fa fa-chevron-down"></i></a>
                    <span class="accent"></span>
                    <ul class="drop-down">
                        <li><a onclick="opa('aprilia')">APRILIA</a></li>
                        <li><a onclick="opa('ducati')">DUCATI</a></li>
                        <li><a onclick="opa('motoguzzi')">MOTOGUZZI</a></li>
                        <li><a onclick="opa('mvagusta')">MV AGUSTA</a></li>
                    </ul>
                </li>
                <li><a  class="item">NOSOTROS <i class="fa fa-chevron-down"></i></a>
                    <span class="accent"></span>
                    <ul class="drop-down">
                        <li><a onclick="opa('empresa')">EMPRESA</a></li>
                        <li><a onclick="opa('servicios')">SERVICIOS</a></li>
                        <li><a onclick="opa('taller')">TALLER</a></li>
                        <li><a onclick="opa('contacto')">CONTACTANOS</a></li>
                    </ul>
                </li>
                <li><a class="item">MI PERFIL <i class="fa fa-chevron-down"></i></a>
                    <span class="accent"></span>
                    <ul class="drop-down">
                        <li><a onclick="opa('login')">Acceder</a></li>
                        <li><a onclick="opa('registro')">Registrarse</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>

    <aside id="menuLateral">
        <a onclick="opa('contacto')"><img src="../Material_gráfico/iconos/telefono.png"  title="Contactanos" alt="telefono"></a>
        <a href="mailto:info@motographix.com?subject=Contacto" title="Correo">  <img src="../../Material_gráfico/iconos/email.png" alt="email"></a>
        <a onclick="opa('taller')" title="Cita taller" ><img src="../Material_gráfico/iconos/taller.png" alt="taller"></a>
        <a onclick="opa('map')" title="Donde estamos?"><img src="../Material_gráfico/iconos/direccion.png" alt="direccion"></a>
    </aside>

    <main id="main-content">
    </main>

    <footer>
        <section id="redes">
            <a href="https://about.instagram.com/es-la"><img class="iconoFooter" src="../Material_gráfico/iconos/instagram.png" alt="logo_instagram"></a>
            <a href="https://twitter.com/?lang=es"><img class="iconoFooter" src="../Material_gráfico/iconos/twitter.png" alt="logo_twitter"></a>
            <a href="https://www.facebook.com/?locale=es_ES"><img class="iconoFooter" src="../Material_gráfico/iconos/facebook.png" alt="logo_facebook"></a>
        </section>

        <section id="info">
            <p>Zaragoza: 666 666 666</p>
            <img class="iconoFooter" src="../Material_gráfico/iconos/email.png" alt="icono_email">
            <p>info@motographix.com</p>
            <p>2024 ALL RIGHTS RESERVED | AVISO LEGAL</p>
        </section>

    </footer>
    <script src="/js/desplegables.js"></script>
    
    <script src="/js/cargarMain.js"></script>
    
    <script src="/js/transiciónYredireccion.js"></script>
</body>
</html>





<!--

    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡠⠤⠖⢒⠂⢤⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⢀⣀⠀⠀⠀⠀⠀⢠⠖⠁⠀⠀⠀⠀⠀⠀⠢⣥⣢⠀⠀⠀⠀⠀⣠⣤⠀
⢀⣟⣿⣦⠀⠀⠀⣰⡿⠿⠷⠶⣄⠀⠀⢠⠾⠟⠛⠛⢷⡀⠀⢀⡼⣿⣇⡇
⠈⠛⠛⠿⢕⡂⢴⠁⠀⠀⠀⢀⠈⠆⠠⣮⣴⢤⡀⣀⣸⣗⣶⡧⠒⠉⠉⠁
⠀⠀⠀⠀⠀⢹⠀⠀⠴⣺⣿⣿⠇⠀⠀⠛⡿⣽⣿⣽⠿⠛⢻⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⡌⠀⠀⠈⠉⢩⠀⠀⠀⠀⠀⣸⣒⣄⠀⠀⠀⠀⠇⠀⠀⠀⠀
⠀⠀⠀⠀⠀⡇⠀⢀⡴⠖⠉⠛⠓⠲⠶⠾⠿⠿⠿⢏⡳⡀⠄⣾⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠃⠀⠞⠀⣀⣀⣀⣀⣀⣀⣀⣤⣤⣶⣿⣇⢧⠀⣿⠀⠀⠀⠀
⠀⠀⠀⠀⠀⡄⠀⠀⠀⠈⠫⢽⣽⣉⣹⣁⣧⣿⠟⣱⣿⣾⢀⣿⠀⠀⠀⠀
⠀⠀⠀⠀⠀⢃⠀⠀⠀⠀⠀⠀⠉⠙⠩⠤⠭⣶⣋⡟⢸⢁⣿⠏⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠱⡀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⠝⡇⣘⡾⠋⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠈⠢⣀⠀⠀⠀⠀⠀⠀⠀⣠⣴⣷⠋⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠑⠠⠤⠤⠤⠤⠾⠟⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀

-->